// Global
@import "./libs/variables";
@import "./libs/mixins";

// General

@import "./libs/reset";
@import "./libs/global";

// Component
@import "../containers/ErrorPage/styles";
@import "../containers/Dashboard/dashboard";
@import "../components/LandingNav/landing-nav";
@import "../containers/LandingPage/landing-page";
@import "../components/PieChart/piechart";
@import "../containers/LogBook/logbook-printing";

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
